.bg-image{
    background-image: url('../../image/study-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    
}
.heading{
    padding-left: 900px;
    padding-top: 20px;
}
.sign-up-button{
    background-color: rgb(9, 156, 9);
    color: white;
}
.bg-color{
    background-color: linen;
}